#accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.accordionBtn {
  padding: 5px;
  width: 320px;
  height: 84px;
  opacity: 100%;
  background-color: #eee;
  cursor: pointer;
  background-image: linear-gradient(#f0f2f9, #ffffff);
  font-family: "Rubik-Light";
  font-size: 14px;
  color: #243771;
  letter-spacing: 0;
  line-height: 15px;
}

.active {
  background-color: #243771;
}

/* .panel {
  padding: 0, 18px;
  background-color: #243771;
  display: none;
  overflow: hidden;
  width: 320px;
} */

.accordion:after {
  content: "\02F2";
  font-size: 20px;
  color: #717ea5;
  float: right;
  margin-left: 5px;
}

.active:after {
  font-size: 10px;
  color: white;
  float: right;
  /* transform: rotate(-270 deg); */
  background-image: url("../assets/Pricing_BG_TopTriangle_Hover.png");
}

#panelOne {
  background: #e2e6f3;
  width: 320px;
  height: 355px;
}

#panelTwo {
  background: #304995;
  width: 320px;
  height: 355px;
}

#panelThree {
  background: #e2e6f3;
  width: 320px;
  height: 355px;
}

.foldedSupplyTextNumberPanelOne {
  font-family: "Rubik-Bold";
  font-size: 44px;
  color: #3651a3;
  letter-spacing: 0;
  line-height: 44px;
}

.foldedSupplyTextPanelOne {
  font-family: "Rubik-Light";
  font-size: 14px;
  color: #243771;
  letter-spacing: 0;
  line-height: 15px;
}

.arrowPanelOne {
  transform: rotate(-360deg);
  background: #717ea5;
}

.foldedSupplyTextNumberPanelTwo {
  font-family: "Rubik-Bold";
  font-size: 44px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 44px;
}

.foldedSupplyTextPanelTwo {
  font-family: "Rubik-Light";
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 15px;
}

.arrowPanelTwo {
  transform: rotate(-270deg);
  background: #ffffff;
}

.foldedSupplyTextNumberPanelThree {
  font-family: "Rubik-Bold";
  font-size: 44px;
  color: #3651a3;
  letter-spacing: 0;
  line-height: 44px;
}

.foldedSupplyTextPanelThree {
  font-family: "Rubik-Light";
  font-size: 14px;
  color: #243771;
  letter-spacing: 0;
  line-height: 15px;
}

#firstLineTabOne {
  display: flex;
}

/* #leftPartTabOne {
  display: flex;
} */

#rightPartTabOne {
  text-align: right;
}

.percentDiscountTextPanelOne {
  font-family: "Rubik-Bold";
  font-size: 42px;
  color: #243771;
  letter-spacing: -1px;
  line-height: 30px;
}

.percentSignTextPanelOne {
  font-family: "Rubik-Bold";
  font-size: 24px;
  color: #243771;
  letter-spacing: 0;
  line-height: 18px;
}

.offTextPanelOne {
  font-family: "Rubik-Black";
  font-size: 10px;
  color: #243771;
  letter-spacing: 0;
  line-height: 18px;
}

.line1TextPanelOne {
  font-family: "Rubik-Bold";
  font-size: 18px;
  color: #243771;
  text-align: right;
  line-height: 16px;
}

.line2TextPanelOne {
  font-family: "Rubik-Bold";
  font-size: 14px;
  color: #243771;
  text-align: right;
  line-height: 16px;
}

.topBorderPanelOne {
  background: #c0c6d9;
  border-style: dashed;
}

#supplyPanelOne {
  text-align: center;
}

.supplyTextNumberPanelOne {
  font-family: "Rubik-Bold";
  font-size: 18px;
  color: #243771;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.supplyTextPanelOne {
  font-family: "Rubik-Regular";
  font-size: 18px;
  color: #12192f;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.newPriceTextPanelOne {
  font-family: "Rubik-Bold";
  font-size: 30px;
  color: #3651a3;
  text-align: center;
  line-height: 40px;
}

.oldPriceTextPanelOne {
  font-family: "Rubik-Regular";
  font-size: 14px;
  color: #3651a3;
}

.eachTextPanelOne {
  font-family: "Rubik-Regular";
  font-size: 12px;
  color: #3651a3;
  text-align: right;
}

.bottomBorderPanelOne {
  border: 2px solid #91a2ca;
  width: 120px;
  height: 0px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.saveAmtPanelOne {
  font-family: "Rubik-Medium";
  font-size: 16px;
  color: #71b621;
  text-align: center;
  line-height: 18px;
}

.shippingTxtPanelOne {
  font-family: "Rubik-Regular";
  font-size: 14px;
  color: #243771;
  text-align: center;
  line-height: 18px;
}

.btn {
  text-align: center;
}

.addToCartBtnPanelOne {
  width: 160px;
  height: 40px;
  opacity: 1;
  border: none;

  background: #ff5844;
  border-radius: 4px;
  font-family: "RubikRegular";
  font-size: 14px;
  font-weight:normal;
  font-style:medium;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
}

.percentDiscountTextPanelTwo {
  font-family: "Rubik-Bold";
  font-size: 42px;
  color: #ffffff;
  letter-spacing: -1px;
  line-height: 30px;
}

.percentSignTextPanelTwo {
  font-family: "Rubik-Bold";
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 18px;
}

.offTextPanelTwo {
  font-family: "Rubik-Black";
  font-size: 10px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 18px;
}

.line1TextPanelTwo {
  font-family: "Rubik-Bold";
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  line-height: 16px;
}

.line2TextPanelTwo {
  font-family: "Rubik-Bold";
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 16px;
}

.topBorderPanelTwo {
  border: 2px solid #ffffff;
  border-style: dashed;
}

#supplyPanelTwo {
  text-align: center;
}

.supplyTextNumberPanelTwo {
  font-family: "Rubik-Bold";
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.supplyTextPanelTwo {
  font-family: "Rubik-Regular";
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.newPriceTextPanelTwo {
  font-family: "Rubik-Bold";
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
}

.oldPriceTextPanelTwo {
  font-family: "Rubik-Regular";
  font-size: 14px;
  color: #ffffff;
}

.eachTextPanelTwo {
  font-family: "Rubik-Regular";
  font-size: 12px;
  color: #ffffff;
}

.bottomBorderPanelTwo {
  border: 2px solid #243771;
  width: 120px;
  height: 0px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.saveAmtPanelTwo {
  font-family: "Rubik-Medium";
  font-size: 16px;
  color: #71b621;
  text-align: center;
  line-height: 18px;
}

.shippingTxtPanelTwo {
  font-family: "Rubik-Regular";
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
}

.addToCartBtnPanelTwo {
  width: 160px;
  height: 40px;
  opacity: 1;
  color: #ffffff;
  background-color: #ff5844;
  font-size: 14px;
  font-family: "Rubik-Medium";
  border-radius: 4px;
  border: none;
  text-align: center;
  line-height: 18px;
}

.websitePrice {
  font-family: "Rubik-Bold";
  font-size: 20px;
  color: #243771;
  letter-spacing: -0.48px;
  text-align: center;
  line-height: 30px;
}

.topBorderPanelThree {
  border: 2px solid #ffffff;
  border-style: dashed;
}

#supplyPanelThree {
  text-align: center;
}

.supplyTextNumberPanelThree {
  font-family: "Rubik-Bold";
  font-size: 18px;
  color: #243771;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.supplyTextPanelThree {
  font-family: "Rubik-Regular";
  font-size: 18px;
  color: #12192f;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.centered {
  text-align: center;
}
.newPriceTextPanelThree {
  font-family: "Rubik-Bold";
  font-size: 30px;
  color: #3651a3;
  text-align: center;
  line-height: 40px;
}

.eachTextPanelThree {
  font-family: "Rubik-Regular";
  font-size: 12px;
  color: #3651a3;
  text-align: right;
  margin-right: 19px;
}

.addToCartBtnPanelThree {
  width: 160px;
  height: 40px;
  opacity: 1;
  color: #ffffff;
  background-color: #ff5844;
  font-size: 14px;
  /* font-family: "Rubik-Medium"; */
  font-family: 'RubikRegular'; 
   font-weight: normal; 
   font-style: normal; 
}
  border-radius: 4px;
  border: none;
  text-align: center;
  line-height: 18px;
}
